<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auth.center.role.mapper.SysUserRoleMapper">

    <select id="getUserRoleCodes" resultType="java.lang.String" parameterType="java.lang.String">
        select
            t2.role_code
        from sys_user_role t1
        join sys_role t2 on t1.role_id = t2.id
        where t1.user_id = #{userId}
    </select>
</mapper>
